.edit-form__inputs {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 72px;
    border: none;
}
  
@media screen and (max-width: 677px) {
    .edit-form__inputs {
      max-width: 238px;
      margin: 0 auto;
    }
}