.card {
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: content-box;
    display: grid;
    grid-template-rows: 282px 1fr;
    position: relative;
    overflow: hidden;
}