.profile__name {
    margin: 0 18px 16px 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #ffffff;
    width: 100%;
    max-width: 294px;
}
  
@media screen and (max-width: 677px) {
    .profile__name {
      font-size: 27px;
      line-height: 33px;
      max-width: 189px;
      margin: 0 10px 14px 0;
    }
}
  
