.card__button-like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    transition: .3s;
}
  
@media (min-width: 768px) {
    .card__button-like:hover {
        opacity: .5;
        cursor: pointer;
    }
}