.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    gap: 20px 17px;
    margin: 46px auto 66px;
    max-width: 880px;
    padding: 0;
}
  
@media screen and (max-width: 912px) {
    .elements__list {
      max-width: 90%;
    }
}
  
@media screen and (max-width: 677px) {
    .elements__list {
      max-width: 282px;
      margin: 36px auto 48px;
    }
}